# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# macOS files
.DS_Store
Icon?

# Virtual environments
venv/
.venv/

# Ignore data files
data/

# Ignore output files
outputs/

# Ignore DuckDB files
*.duckdb

db/

# Editor swap/backup files
*~
*.swp
*.swo
*.bak
*.tmp

*.png
*.csv
*.html